/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

.list .item-input .item-input-error-message {
  white-space: normal; /* Zezwala na automatyczne zawijanie tekstu */
  line-height: 2; /* Ustawia odstęp między wierszami */
}

/* Your app custom styles here */
